<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h2>Posts</h2>
      <app-post-list  *ngFor="let post of posts"
                      [Post]="post"></app-post-list>
    </div>
  </div>
</div>
