<li [ngClass]="{  'list-group-item' : true,
                  'list-group-item-success' : loveIts > 0,
                  'list-group-item-danger' : loveIts < 0
}">
  <h6 class="text-right font-italic gray-gradient">{{ created_at | date: 'short' | uppercase }}</h6>
  <h3>{{ title }}</h3>
  <div>
    {{ content }}
  </div>
  <br />
  <br />
  <button class="btn btn-success mr-2" (click)="loveIt()">Love it!</button>
  <button class="btn btn-danger mr-2" (click)="dontLoveIt()">Don't love it!</button>

</li>