<ul class="list-group">
  <app-post-list-item [title]="Post.title"
                  [content]="Post.content"
                  [loveIts]="Post.loveIts"
                  [created_at]="Post.created_at"></app-post-list-item>
</ul>


